# Autotools configuration and build output
/Makefile
/autom4te.cache/
/config.h
/config.h.in~
/config.log
/config.status
/configure~
/libtool
/stamp-h1
/test-suite.log
/tests/.deps/
/tests/__pycache__/
/config/config.guess~
/config/config.sub~
/gui/__pycache__/
/gui/g15-profile-editor

/.deps/
/.libs/
*.log
*.o
*.lo
*.la
*.trs

/g15daemon/g15daemon
/g15daemon/g15daemontest
/tests/test-settings
