[Desktop Entry]
Type=Application
Name=G15 Profile Editor
GenericName=G-Tasten-Profileditor
Comment=Profile, Makros und G-Tasten der Logitech G15 v1 konfigurieren
Exec=g15-profile-editor
Icon=input-keyboard
Terminal=false
Categories=Settings;HardwareSettings;
