[Unit]
Description=Daemon für die Logitech G15
Documentation=man:g15daemon(1)
#After=sys-subsystem-usb-g15.device
#StopWhenUnneeded=true

[Service]
Type=forking
PIDFile=/run/g15daemon.pid
ExecStart=/usr/bin/g15daemon

[Install]
#WantedBy=sys-subsystem-usb-g15.device
WantedBy=multi-user.target
